@{
    ViewData["Title"] = "Projects";
}
<head>
    <link rel="stylesheet" href="~/css/Projects.css" />
    <title>@ViewData["Title"]</title>
</head>
<h1>Projects</h1>
<div class="container-fluid">
    <div id="tagholder" class="flex-row row">
        <button style="background-color: #4a4a4a; color:white;">Show All</button>
        <button>HTML</button>
        <button>CSS</button>
        <button>Javascript</button>
        <button>C#</button>
        <button>ASP.NET Core</button>
        <button>MSSQL</button>
        <button>Java</button>
        <button>JavaFX</button>
        <button>Python</button>
        <button>C++</button>
        <button>GitHub</button>
    </div>
    
</div>
<div class="container-fluid">
    <div id="projectholder" class="flex-row row">
            <img src="~/images/Uno-JavaFX.jpg" />
            <img src="~/images/Uno-JavaFX.jpg" />
            <img src="~/images/Uno-JavaFX.jpg" />
            <img src="~/images/Uno-JavaFX.jpg" />
            <img src="~/images/Uno-JavaFX.jpg" />
            <img src="~/images/Uno-JavaFX.jpg" /><img src="~/images/Uno-JavaFX.jpg" />
    </div>
</div>
