@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
    <title>@ViewData["Title"]</title>
</head>
<div class="container-fluid">
    <div id="introduction">
        <h1>Hi. I am Nicholas. <br /> I'm a Backend Developer.</h1>
        <img src="~/images/Me.png" />
    </div>
</div>
<div class="container-fluid">
    <div id="links">
        <div class="col-3" align="center">
            <a href="" target="_blank"><img src="~/images/LinkedIn logo.png" /></a>


        </div>
        <div class="col-3" align="center">
            <a href="" target="_blank"><img src="~/images/GitHub-logo.png" /></a>
            <br />
            <img src="~/images/arrow.png" id="arrow" />
        </div>
        <div class="col-3" align="center"><a href="" target="_blank"><img src="~/images/Indeed logo.png" /></a></div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />