@{
    ViewData["Title"] = "Home";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css" />
    <title>@ViewData["Title"]</title>
</head>
<div class="container-fluid">
    <div id="introduction">
        <h1>Hi. I am Nicholas. <br /> I'm a Backend Developer.</h1>
        <picture>
            <source srcset="/images/me.webp" type="image/webp" />
            <img src="/images/me.jpg" />
        </picture>
    </div>
</div>
<div class="container-fluid">
    <div id="links">
        <div class="col-3" align="center">
            <a href="https://www.linkedin.com/in/nicholas-newton-5b548122a/" target="_blank"><img src="~/images/LinkedIn logo.png" /></a>
        </div>
        <div class="col-3" align="center">
            <a href="https://github.com/nicknewton100" target="_blank"><img src="~/images/GitHub-logo.png" /></a>
            <br />
            <!--<img src="~/images/arrow.png" id="arrow" />-->
        </div>
        <div class="col-3" align="center"><a href="mailto:nick.newton404@gmail.com"><img src="~/images/Gmail logo.png" alt="Email: nick.newton404@gmail.com"/></a></div>
    </div>
</div>



