@import url("Fonts.css");
.container-fluid {
    display: flex;
    justify-content: center;
}
h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
    font-size: 5em;
    font-family: Montserrat-SemiBold;
    text-shadow: 6px 6px 3.7px rgba(0, 0, 0, 0.25999999046325684);
}
#tagholder {
    width: 90%;
    max-width: 1200px;
    margin: 4em 0em 5em 0em !important;
    display: flex;
    justify-content:center;
}
button {
    font-family:Montserrat-Regular;
    background-color: #ddd;
    border: none;
    color: black;
    margin: 0em .3em 1em .3em !important;
    border-radius: 15px;
    padding: 0 1.5%;
    box-shadow: 3px 4px 3.7px rgba(0, 0, 0, 0.25999999046325684);
    backface-visibility: hidden;
    transform:scale(.95) translateZ(0);
    transition:ease-in-out 200ms;
}
.button-3d:active, .button-3d.active, .button-3d.is-active {
    transition-duration: 0s !important;
}
#tagholder button:focus {
    outline: none;
}
#projectholder {
    max-width: 65%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1em, 30em));
    gap: 1em;
    place-items: center;
}
.card {
    background-color: #171717;
    box-shadow: 0px 20px 50px;
    font-family: Montserrat-Regular;
    max-height: 550px;
}
.card .card-header{
    padding:1em 1em 0em 1em;    
    border:none;
}
.card .card-header > img{
    padding: 0;
    margin: 0;
    box-shadow: rgba(0,0,0,1) 30px 30px inset;
    aspect-ratio:16.9;
    width: 100%;
    height: 20.5em;
    object-fit: cover;
}
.card.card-shadow{
    border:none;
    box-shadow: 0 .4em .5em 0 rgba(0, 0, 0, .4)
}
.card .card-body{
    color:white;    
    height: 8em;
    word-break:break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:100%;
}
.card .card-footer{
    display:flex;
    justify-content:right;
    padding:0 2em 0 0;
    width:100%;
    border:none;
}
.card .card-footer .links > a{
    font-size: .7em;
    margin:0 !important;
    float:right;
}
@media only screen and (max-width:2300px) {
    #projectholder {
        grid-template-columns: repeat(auto-fill, minmax(1em, 26em));
        gap: 1em;
    }
    .card .card-header > img {
        width: 100%;
        height: 17.6em;
    }
}
@media only screen and (max-width:2000px) {
    #projectholder {
        grid-template-columns: repeat(auto-fill, minmax(1em, 26em));
        gap: 1em;
        max-width:80%;
    }
}
@media only screen and (max-width:1630px) {
    #projectholder {
        grid-template-columns: repeat(auto-fill, minmax(1em, 26em));
        gap: 1em;
        max-width: 100%;
    }
}
@media only screen and (max-width:700px) {
    h1 {
        margin-top: .75em;
        font-size: 4em;
    }

    #tagholder {
        margin: 3em 0em 3em 0em !important;
    }

    button {
        font-size: .8em !important;
        width: none !important;
        line-height:1em !important;
        height:3em !important;
    }
}

@media only screen and (max-width:460px) {

    #projectholder {
        grid-template-columns: repeat(auto-fill, minmax(1em, 20em));
        gap: 1em;
        max-width: 100%;
    }
    .card .card-header > img {
        height: 13em;
    }
    h1 {
        margin-top: .5em;
        font-size: 3em;
    }
    button {
        font-size: .8em !important;
        width: none !important;
        padding:1em !important;
    }
    p{
        font-size:.9em;
    }
    a{
        font-size:.9em;
    }
}

/*media query for height of page*/
@media only screen and (max-height: 1130px) and (min-width: 1590px) {
    #tagholder {
        width: 90%;
        max-width: 1200px;
        margin: 3em 0em 3em 0em !important;
    }
    h1{
        margin-top:.75em;
    }
}