@import url("Fonts.css");
body{    
    color: white;
    font-family: Montserrat-SemiBold;
    text-shadow: 5px 5px 3.7px rgba(0, 0, 0, 0.25999999046325684);
}
.container-fluid {
    display: flex;
    justify-content:center;
}
.information {
    width: 90%;
    max-width: 1100px;
    margin: 5em 0 !important;
    display: flex;
    flex-direction: column;
}
.title {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    width: 98%;
}
h1 {
    font-size: 4em; 
}
h2 {
    margin: 1em 0em;
    font-size: 3em;
}
ul{
    list-style-position:inside;
}
p, li {
    font-family: Montserrat-Regular;
    margin:0em;
    font-size: 1.8em;
}
.swiper {
    width: 67em;
    height: 35em;
    margin: 2em 0em !important;
    background-color: black;
    text-align:center;
    box-shadow:10px 10px 4.017167568206787px rgba(0, 0, 0, 0.25999999046325684);
}
.swiper .swiper-slide{
    aspect-ratio:16/9;
    background-size: cover; 
    background-position:center; 
    background-repeat:no-repeat;
}
.wrapper .icon {
    color:black;
    width: 2em !important;
    height: 2em !important;
    font-size: 2.3em !important;
    border:solid gray;
    margin: 10px 0px !important;
}
.wrapper .tooltip{
    font-size:.5em !important;
    text-align:center;
    width:7em !important;
}
@media only screen and (max-width:1300px){

}
